.navbar {
    background-color: #5bc0de; 
}

.navbar-nav .nav-link {
    color: white; 
    padding: 0.75rem;
    font-weight: bold;
    margin-left: 10px; 
}

.navbar-nav .nav-link:hover {
    background-color: #31b0d5; 
    border-radius: 5px;
}

.navbar-nav .nav-link i {
    color: white;
    padding: 8px;
    transition: color 0.3s;
}

.navbar-nav .nav-link i:hover {
    color: #d9d9d9;
}

.carousel-inner img {
    max-height: 500px; 
    object-fit: cover; 
}

.carousel {
    margin-bottom: 50px; 
}

.card {
    margin: 20px; 
}

.card-row {
    justify-content: center; 
}

.card-body {
    text-align: center;
}

.jumbotron {
    position: relative;
    background-image: url('assets/slide1.jpg'); 
    background-size: cover;
    background-position: center;
}


h1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

h3 {
    text-align: center;
    font-size: smaller;
}

h5 {
    color: blue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    background-color: antiquewhite;
    padding-bottom: 150px;
}
.tips-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
